.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 10px;
    position: relative;
    top: 90px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p {
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}

.footer-social-icon {
    display: flex;
    gap: 30px
}

.footer-icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;

}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    color: #1a1a1a;
    font-size: 20px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 2px;
    background: #c7c7c7;
}

@media (max-width:800px) {
    .footer{
        gap: 40px;
    }
    .footer-logo {
        gap: 15px;
    }

    .footer-logo img {
        width: 55px;
    }

    .footer-logo p {
        font-size: 38px;
        font-weight: 700;
    }

    .footer-links {
        gap: 35px;
        font-size: 18px;
    }

    .footer-icons-container {
        padding: 6px;
        padding-bottom: 3px;
    }

    .footer-copyright {
        font-size: 18px;
    }

}

@media (max-width:600px) {
    .footer {
            gap: 30px;
        }

    .footer-logo {
        gap: 15px;
    }

    .footer-logo img {
        width: 34px;
    }

    .footer-logo p {

        font-size: 30px;
        font-weight: 700;
    }

    .footer-links {
        gap: 20px;
        font-size: 14px;
    }

    .footer-icons-container {
        padding: 6px;
        padding-bottom: 3px;
    }
         .footer-icons-container img{
            width: 20px;
         }

    .footer-copyright {


        font-size: 15px;
    }

}


@media (max-width:431px) {

    /* .footer {
        gap: 30px;
        position: relative;
        
    } */

    .footer-logo {
        gap: 15px;
    }

    .footer-logo img {
        width: 34px;
    }

    .footer-logo p {
        font-size: 30px;
        font-weight: 700;
    }
    .footer-links {
        gap: 15px;
        font-size: 12px;
    }

    .footer-icons-container {
        padding: 6px;
        padding-bottom: 3px;
    }

    .footer-icons-container img {
        width: 20px;
    }

    .footer-copyright {
        font-size: 11px;
    }

}
@media (max-width:391px){
    .footer{
        top: 95px;
    }
}